/*https://thumbs.gfycat.com/PointlessSphericalIrishterrier-size_restricted.gif */

body {
    background-color: rgb(47, 46, 46);
}  

h1,
h2 {
    color: whitesmoke;
}

a:link {
    color: whitesmoke;
  }
  
  /* visited link */
  a:visited {
    color: whitesmoke;
  }